.cart-container{
    margin-left: auto;
    width: 10%;
    text-align: end;
    cursor: pointer;
}
 img {
        width: 30px;
    }
    .cart-count{
        margin-left: -10px;
        background-color: rgb(175, 32, 32);
        color: white;
        padding-right: 4px;
        padding-left: 4px;
        border-radius: 10px;
    }


@media screen and (max-width: 700px) {
  
    .cart-container img {
        width: 25px;
        margin-left: -20px;
    }
}
