.App{
  width: 70%;
  margin: auto;
  margin-bottom: 5rem;
}

.app {
  position: relative;
  min-height: 100vh;
}

img {
  width: 100%;
}

.nomad-container {
  width: 60%;
  margin: 0 auto;
}
.todo-headings {
  text-align: center;
  margin-top: 40px;
  font-size: 28px;
}

/* Featured products section */
.featured-collection {
  margin-top: 6rem;
}
  .featured-section-title {
    font-size: 2rem;
  }

  .featured-image {
    cursor: pointer;
    height: 150px;
  }
  
  @media (min-width: 1024px) {
    .products {
      display: flex;
      justify-content: space-between;
      padding: 5px;

     
    }
     .featured-product {
        margin: 10px;
      }
  }


/* single product page */
.name-price p {
    font-size: 1rem;
    font-weight: 500;
  }
  h3 {
    font-size: 20px !important;
    margin-top: 20px;
  }
/* black button styles */
.nomad-btn {
  display: block;
  width: 100%;
  line-height: 1.4;
  padding: 6px 5px;
  white-space: normal;
  margin-top: 10px;
  font-weight: 600 !important;
  margin-bottom: 10px;
  background-color: #ffffff !important;
  border :1px solid#d3a217 !important;
  color: #d3a217 !important;
 
  font-size: 0.8rem;
}
.nomad-btn:hover{
  background-color: #d3a217 !important;
  color: #fff !important;
}
/* input styles */
.nomad-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
}

form .submit-btn {
    display: flex;
    justify-content: center;
  }
  form.submit {
    width: 200px;
  }

.form-error {
  border: 1px solid red;
}

.product-home-title{
  margin-left: 0px;
  font-size: 1.25rem;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 50px;
  background: #7d0e0ef7;
  padding: 10px;
  color: #fff;
}
::placeholder {
  color: #606060;
  font-size: 16px;
}

#btn-white-outline {
  border: 1px solid grey;
  margin-bottom: 1rem;
}



.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 1.5rem;
}

@media (max-width: 500px){
    .App{
      width: 100%;
    }
}